# Question 3: How does the number of people flying between different locations change over time?

## Data pre-processing
### Load the library

In [ ]:
import sqlite3
import pandas as pd
import os
import numpy as np
from datetime import datetime
import networkx as nx
import calendar
import seaborn as sns 
import matplotlib.pyplot as plt
import random

#### For running existing database file which was previously created in Question 1:

In [ ]:
conn = sqlite3.connect('D:/SIM courses/Programming/Project/Project/project_py/airline.db')
c = conn.cursor() 
c.execute("SELECT name FROM sqlite_master where type = 'table'").fetchall()

### Data query
Grouping the months of total flights into quarters, excluding cancelled flights from ontime dataset before merging with other dataframe.

In [ ]:
q4 = c.execute('''   
                SELECT Count(*) as Total_Flights, Dest, Origin, Month
                FROM ontime
                WHERE Cancelled = 0 
                GROUP BY Dest, Origin, Month
                  ''').fetchall()
q4 = pd.DataFrame(q4).reset_index()
q4.columns = ['index','Total_Flights','Dest', 'Origin','Month']
q4['quarterly'] = np.digitize(q4['Month'], [3, 6, 9, 12], right=True) + 1
q4 = q4.drop(columns=['index'])

External data source on passengers can be downloaded at: https://data.world/makeovermonday/2021w16/workspace/file?filename=US+Monthly+Air+Passengers.csv 
***(Note: may require to sign in using email to access this website, else unzip the 'US Monthly Air Passengers.csv' file provided in the submission)***

The passengers data is then filtered to only include 2 years of dataset from 2007-2008, inclusive of relevant columns such as sum of passengers, origin and destination states and its abbreviated state name. The data is merged with q4 to determine top 15 destination with highest total flights and passengers travelling from origin to destination quarterly.

In [ ]:
passengers = pd.read_csv("D:/SIM courses/Programming/Project/Project/US Monthly Air Passengers.csv", index_col=None)

passengers = passengers.loc[passengers['YEAR'].between(2007, 2008)]
passengers.columns = [x.lower() for x in passengers.columns]
q5 = pd.merge(q4,passengers, left_on=["Dest",'Origin','Month'], right_on=['dest','origin','month'], how='inner') #,"Month",'MONTH'
q5 = q5.loc[:,['origin','dest','quarterly','Total_Flights','sum_passengers', 'carrier_name', 'origin_state_abr','dest_state_abr']]

q6 = q5.groupby(['origin','dest','quarterly']).aggregate('sum').reset_index().sort_values('sum_passengers', ascending=False)
q6['combined'] = q6['origin'].astype(str)+'-'+q6['dest']
q6.columns= ['Origin','Dest', 'Quarterly',"Total_Flights", "Total_Passengers",'Combined']
q6_top_passengers = q6.groupby(['Dest', 'Origin']).apply(lambda p: p.nlargest(1, columns='Total_Passengers')).reset_index(level=[0,1], drop=True).sort_values('Total_Passengers', ascending=False)
q6_top_flights = q6.groupby(['Dest', 'Origin']).apply(lambda p: p.nlargest(1, columns='Total_Flights')).reset_index(level=[0,1], drop=True).sort_values('Total_Flights', ascending=False)

combined_passengers = q6_top_passengers.head(15)
combined_flights = q6_top_flights.head(15)
combined_name_passengers = combined_passengers['Combined']
combined_name_flights = combined_flights['Combined']
q6_combined_top_passengers = q6.loc[q6['Combined'].isin(combined_name_passengers)]
q6_combined_top_flights = q6.loc[q6['Combined'].isin(combined_name_flights)]
q6_combined_top_passengers
q6_combined_top_flights

Plot the graph to visualize top 15 destination with the highest flights and passengers quarterly.

In [ ]:
# Set the colour palette to colour-blind friendly
sns.reset_orig()
my_palette = sns.color_palette("colorblind") 
my_palette
plt.style.use('seaborn-colorblind')
plt.style.available

sns.set(rc={'figure.figsize':(30,15)})
sns.barplot(x='Total_Passengers', y='Combined', hue='Quarterly', data=q6_combined_top_passengers , orient='h', alpha = 0.6).set_title('Total Quarterly Passengers of Top 15 Destinations')

In [ ]:
sns.set(rc={'figure.figsize':(10,10)})
sns.barplot(x='Total_Flights', y='Combined', hue='Quarterly', data=q6_combined_top_flights , alpha = 0.6).set_title('Total Quarterly Flights of Top 15 Destinations')
plt.ticklabel_format(style='plain', axis='x')

In [ ]:
conn.close()

Reference: 

Data.world. 2022. data.world. [online] Available at: <https://data.world/makeovermonday/2021w16/workspace/file?filename=US+Monthly+Air+Passengers.csv> [Accessed 12 March 2022].